@using Kostassoid.BlogNote.Web.Models.View
@model IndexViewData

@{
    ViewBag.Title = "User Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered users</h2>
@if (Model.Users.Count == 0)
{
    @:<br />No users registered yet.<br />
    
}
@foreach (var user in Model.Users)
{
    <b>@user.Name (@user.Posts posts)</b><br />
}
<br/>
@Html.Partial("SignIn", Model.UserForm)
